.banner {
    height: 580px;
    background: linear-gradient(to right, rgba(208,230,197,1) 0%, rgba(255,255,255,1) 70%, rgba(208,230,197,1) 100%);
    .container {
        padding-top: 70px;
        height: 100%;
        background: url('../img/banner_door.png') no-repeat 100% / contain;
    }
    .banner__container {
        width: 656px;
        margin-left: 44px;    
    }
    .banner__head {
        font-weight: bold;
        line-height: 40px;
        font-size: 35.6px;
        text-align: center;
        text-transform: uppercase;
        color: $darkgrey-color;
    }
    .banner__services {
        margin-top: 29px;
        margin-bottom: 36px; 
        padding-left: 0;
        list-style: none;
    }
    .banner__service {
        display: inline-block;
        width: 48%;
        margin-top: 20px;
        .service-icon {
            background: $green-gradient;
            background-clip: text;
            color: transparent;
            font-size: 44px;
        }
        .icon-wrench_door {
            margin-right: 11px;
        }
    }
    .services__link {
        font-size: 20px;
        font-weight: 600;
        color: $grey-color;
        border-bottom: $lightgrey-color 1px dashed;
        transition: .2s;
        &:hover {
            color: $green-color;
            border-color: $green-color;
        }
    }
    .banner__form {
        text-align: center;
        font-size: 16px;
    }
    .form {
        &__head {
            font-size: 18px;
            color: $grey-color;
            margin-bottom: 20px; 
        }
        &__input-phone {
            width: 75%;
        }
    }
}