.discont {
    text-align: center;
    background: url('../img/bg_keys-in-door.png') no-repeat  50% 0 / cover;
    &__container {
        padding: 115px 115px 80px;
    }
    &__form {
        padding: 60px 40px 25px;
        background: $transparentwhite-color;
    }
    .form {
        &__head {
        font-weight: bold;
        line-height: 54px;
        font-size: 35.3px;
        text-transform: uppercase;
        }
        &__sub-head {
            margin: 29px 0;
            line-height: 42px;
            font-size: 27.9px;
        }
        &__input-user {
            margin-right: 15px;
            width: 40%;
        } 
        &__input-phone {
            width: 55%;
        }
        &__check {
            margin-top: 55px;
            .label-check {
                line-height: 22px;
                font-size: 13px;
            }
        }
    }           
}
@media all and (max-width: 1200px) {
    .discont__container {
        padding: 115px 0 80px;
    }
    .discont__form {
        padding: 60px 30px 25px;
    }
    .discont .form__head {
        color: #FF0000;
    }
}