.form__input {
    position: relative;
    display: inline-block;
    .input-icon {
        position: absolute;
        left: 21px;
        top: 17px;
        font-size: 28px;
        color: $lightgrey-color;
    }
    .input {
        position: relative;
        border-radius: 30px;
        border: 1px solid $superlightgrey-color;
        padding: 13px 20px 13px 60px;
        font-weight: 600;
        line-height: 30px;
        font-size: 16px;
        transition: .2s;
        &:focus {
            border-color: $green-color;
            outline: none;
        }
        &:focus + .input-icon {
            color: $green-color;
        }
    }
    &:hover {
        .input {
            border-color: $green-color;
        }
        .input-icon {
            color: $green-color;
        }
    }
    .send-phone {
        position: relative;
        left: -60px;
        border-radius: 30px;
        border: 1px solid $pink-color;
        padding: 17px 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white-color;
        background: $pink-color;
        outline: none;
        transition: .2s;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 30px;                     
            background-color: $transparentpink-color;
            opacity: 0;
            transition: .2s; 
        }
        &:hover::before {
            transform: scale(1.2, 1.5);
            opacity: 1;
        }
    }
    
}
.form__check {
    .label-check {
        .check {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
        }
        &__text {
            position: relative;
            padding: 0 0 0 35px;
            cursor: pointer;
            &:hover::before {
                border-color: $green-color;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                border: 1px solid $superlightgrey-color;
                border-radius: 50%;
                background: #FFF;
            }
            &:after {
                content: '';
                position: absolute;
                top: 4px;
                left: 4px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: $green-color;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
                opacity: 0;
                transition: .2s;
            }
        }
    }
    .label-check .check:checked + .label-check__text:after {
    opacity: 1;
    }
    .label-check .check:focus + .label-check:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
    }
}