.offices {
    .head {
        margin-top: 130px;
    }
    &__container {
        padding-left: 110px;
    }
    .tabs {
        position: relative;
        top: -45px;
        padding-left: 360px;
        text-align: center;
        font-size: 20.8px;
        .active {
            color: $green-color;
            &::before {
                width: 100%;
            }
        }
    }
    .tab {
        display: inline-block;
        position: relative;
        padding: 0 30px 11px;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 5px;
            background-color: $green-color;
            transition: .2s;
        }
        &:hover {
            color: $green-color;
            &::before {
                width: 100%;
            }
        }
    }
    &__map {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 360px;
        width: 57%;
        height: 81%;
        background-image: url(../img/map.png);
    }
}
.office {
    &__data {
        font-size: 20.3px;
        .name__point {
            display: inline-block;
            position: relative;
            left: -20px;
            width: 55px;
            height: 55px;
            background-color: $green-color;
            box-shadow: 0 0 0 10px $transparentgreen-color;
            border-radius: 50%;
            text-align: center;
            color: $white-color;
            font-weight: bold;
            vertical-align: middle;
        }
        .point__text {
            position: relative;
            top: 13px;
        }
    }
    &__name {
        margin: 89px 0 48px;
    }
    &__phone {
        margin: 16px 0 43px;
    }
    &__controls {
        position: relative;
    }
}