.offices {
    margin-bottom: 176px;
    &__container {
        padding-left: 110px;
    }
    .head {
        margin-top: 130px;
    }
    .section {
        display: none;
    }
    input {
        display: none;
        &:checked + label {
            color: $green-color;
            &::before {
                width: 100%;
            }
        }
        &#place1:checked ~ .section_1 {
            display: block;
        }
        &#place2:checked ~ .section_2 {
            display: block;
        }
    }
    .tab {
        display: inline-block;
        position: relative;
        top: -40px;
        left: 590px;
        padding: 0 30px 11px;
        font-size: 20.8px;
        cursor: pointer;
        transition: .2s;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 5px;
            background-color: $green-color;
            transition: .2s;
        }
        &:hover {
            color: $green-color;
            &::before {
                width: 100%;
            }
        }
    }
    &__wrap {
        .slick-arrow {
            top: unset;
            bottom:-83px;
            left: 172px;
            &.slick-next {
                left: 250px;
            }
        }
    }
    &__map {
        position: absolute;
        bottom: -90px;
        right: 0;
        padding-left: 360px;
        width: 56%;
        height: 100%;
        background: url(../img/map.png) no-repeat;
    }
}
.office {
    &__data {
        display: inline-block;
        font-size: 20.3px;
        .name__point {
            display: inline-block;
            position: relative;
            left: -20px;
            width: 55px;
            height: 55px;
            background-color: $green-color;
            box-shadow: 0 0 0 10px $transparentgreen-color;
            border-radius: 50%;
            text-align: center;
            color: $white-color;
            font-weight: bold;
            vertical-align: middle;
        }
        .point__text {
            position: relative;
            top: 12px;
        }
    }
    &__name {
        margin: 89px 64px 48px;
    }
    &__phone {
        margin: 16px 0 43px;
    }
    &__controls {
        position: relative;
    }
}