.offices {
    margin-bottom: 176px;
    &__container {
        padding-left: 110px;
    }
    .head {
        margin-top: 130px;
    }
    .section {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: .2s;
    }
    input {
        display: none;
        &:checked + label {
            color: $green-color;
            &::before {
                width: 100%;
            }
        }
        &#place1:checked ~ .section_1 {
            visibility: visible;
            opacity: 1;
            height: auto;
        }
        &#place2:checked ~ .section_2 {
            visibility: visible;
            opacity: 1;
            height: auto;
        }
    }
    .tab {
        display: inline-block;
        position: relative;
        top: -40px;
        left: 590px;
        padding: 0 30px 11px;
        font-size: 20.8px;
        cursor: pointer;
        transition: .2s;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 5px;
            background-color: $green-color;
            transition: .2s;
        }
        &:hover {
            color: $green-color;
            &::before {
                width: 100%;
            }
        }
    }
    &__wrap {
        .slick-arrow {
            top: unset;
            bottom:-83px;
            left: 172px;
            &.slick-next {
                left: 250px;
            }
        }
    }
    &__map {
        position: absolute;
        bottom: -90px;
        right: 0;
        padding-left: 0;
        width: 56%;
        height: 100%;
        background: url(../img/map.png) no-repeat 50%;
        z-index: 2;
    }
}
.office {
    &__data {
        display: inline-block;
        font-size: 20.3px;
        outline: unset;
        .name__point {
            display: inline-block;
            position: relative;
            left: -20px;
            width: 55px;
            height: 55px;
            background-color: $green-color;
            box-shadow: 0 0 0 10px $transparentgreen-color;
            border-radius: 50%;
            text-align: center;
            color: $white-color;
            font-weight: bold;
            vertical-align: middle;
        }
        .point__text {
            position: relative;
            top: 12px;
        }
    }
    &__name {
        margin: 89px 64px 48px;
    }
    &__phone {
        margin: 16px 0 43px;
        a {
            color: $darkgrey-color;
            transition: .2s;
            &:hover {
                color: $green-color;
            }
        }
    }
    &__controls {
        position: relative;
    }
}
@media all and (max-width: 1200px) {
    .offices__container {
        padding-left: 0;
    }
    .offices .head {
        margin-top: 80px;
        text-align: center;
    }
    .offices .tab {
        top: 21px;
        left: 430px;
    }
    .offices__map {
        bottom: -130px;
        width: 46%;
    }
    .office__data {
        padding-right: 360px;
        text-align: center;
    }
    .offices__wrap .slick-arrow {
        left: 122px;
        outline: unset;
    }
    .offices__wrap .slick-arrow.slick-next {
        left: 180px;
    }
    .offices {
        margin-bottom: 140px;
    }
}
@media all and (max-width: 768px) {
    .offices .tab {
        left: unset;
    }
    .offices__main {
        text-align: center;
    }
    .office__data {
        padding: 0;
    }
    .offices__map {
        position: relative;
        top: 52px;
        width: 100%;
        height: 342px;
        padding: 0;
        margin: 0 auto;
    }
    .office__name {
        margin: 89px 0px 48px;
    }
    .offices__wrap .slick-arrow.slick-next {
        left: 50%;
        transform: translateX(-50%) translateX(50px);
    }
    .offices__wrap .slick-arrow.slick-prev {
        left: 50%;
        transform: translateX(-50%) translateX(-50px);
    }
}