.slider {
    position: relative;
    text-align: center;
    .head {
        margin-top: 95px;
    }
    &__controls {
        right: 10%;
    }
    &__wrap {
        padding-top: 85px;
    }
}

.slide {
    display: inline-block;
    width: 30%;
    &__img {
        max-width: 100%;
        margin: 0 auto;
    }
    &__head {
        margin-top: 115px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 28.1px; 
        .nostrong {
            font-weight: normal;
        }     
    }
    &__text {
        margin-bottom: 75px;
        font-weight: normal;
        font-size: 20.3px;
    }
    &__link {
        display: block;
        color: $darkgrey-color;
        transition: .2s;
        &:hover {
            color: $green-color;
        }
    }
}
.slick-list {
    overflow: hidden;
}
.slick-slider {
    outline: 0;
}
.controls,
.slick-slider {    
    .arrow,
    .slick-arrow {
        position: absolute;
        top: 57px;
        right: 15%;
        border: none;
        font-size: 0;
        display: inline-block;
        width: 84px;
        height: 84px;
        outline: unset;
        cursor: pointer;
        &.right,
        &.slick-next {
            right: 5%;
            background: url(../img/arrow_right.png) no-repeat 50% / cover;
        }
        &.left,
        &.slick-prev {
            background: url(../img/arrow_left.png) no-repeat 50% / cover;
        }
        &:hover {
            &.right,
            &.slick-next {
                background: url(../img/arrow_right_hover.png) no-repeat 50% / cover;
            }
            &.left,
            &.slick-prev {
                background: url(../img/arrow_left_hover.png) no-repeat 50% / cover;
            }
        }
    }
}

.cars {
    .head {
        margin-top: 158px;
    }
    .slide {
        &__img {
            margin-top: 45px;
        }
        &__head {
            margin-top: 61px;
            margin-bottom: 11px;
        }
    }
}
@media all and (max-width: 1200px) {
    .slide__head {
        margin-top: 79px;
        font-size: 17px;
    }
    .slide__text {        
        font-size: 12.4px;        
    }
    .cars .head {
        margin-top: 48px;
    }
    .cars .slide__head {
        margin-top: 21px;
    }
}
@media all and (max-width: 600px) {
    .slick-slider .slick-arrow.slick-next {
        right: 50%;
        transform: translateX(50%) translateX(50px);
    }
    .slick-slider .slick-arrow.slick-prev {
        right: 50%;
        transform: translateX(50%) translateX(-50px);
    }
}