
/*------
COLORS
------*/

$darkgrey-color: #151D2A;
$green-color: #6ECF53;
$grey-color: #494D4B;
$lightgrey-color: #a4a4a4;
$pink-color: #F94E4E;
$superlightgrey-color: #DDDDDD;
$transparentblack-color: #00000020;
$white-color: #fff;