
/*------
COLORS
------*/

$darkgrey-color: #151D2A;
$green-color: #6ECF53;
$grey-color: #494D4B;
$lightgrey-color: #a4a4a4;
$pink-color: #F94E4E;
$superlightgrey-color: #DDDDDD;
$transparentblack-color: #00000020;
$transparentgreen-color: #6ED34450;
$transparentpink-color: #F94E4E20;
$white-color: #fff;

$green-gradient: linear-gradient(90deg, #6ED344 30%, #6EBA9A 60%);