@import "./partials/normalize";
@import "./partials/variables";
@import "./partials/sprite";
@import "./partials/iconfont";             


.container {
    position: relative;
    max-width: 1200px;    
    margin: 0 auto;
}

.green {
    color: $green-color;
}   
 
.head {
    font-size: 35.3px;
    font-weight: bold;
    text-transform: uppercase;
}

[class*="icon-"] {
    font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
    text-transform: none;
    vertical-align: middle;        
}

.unvisible {
    display: none;     
}
      

@import "./partials/header";                
@import "./partials/nav";
@import "./partials/banner";
@import "./partials/form";             
@import "./partials/text";  
@import "./partials/prices";
@import "./partials/discont";   
@import "./partials/video";  
@import "./partials/slider"; 
@import "./partials/reviews"; 
@import "./partials/offices";     
@import "./partials/footer";     

@media all and (max-width: 1200px) {                  
    .container {
        max-width: 756px;
    }
}