doctype html
html(lang="ru")
  include blocks/head.pug
  body
    <!-- Header -->
    header.header
      .container
        a.logo(href="/", title="Главная страница | Служба замков")
          img.logo__img(src="../dest/img/logo.png", alt="Главная страница | Служба замков", title="Главная страница | Служба замков")
          .logo__name Служба замков
        .info
          i.icon-marker
          span.info__region
            |Москва и Московская область
          i.icon-watch
          span.info__work-time
            |Круглосуточно
          a.info__phone.phone(href="tel:84958888888")
            i.icon-phone
            span.phone__code 8 495
            span.phone__number 888-88-88
    <!-- End Header -->
    <!-- Menu -->
    nav.nav
      .nav__mobile
      .nav__desktop
          ul.desktop__items
            li.desktop__item
              a.link(href="#") О&nbsp;нас
            li.desktop__item
              a.link(href="#") Наши&nbsp;услуги
              ul.desktop__items.desktop__item-parent
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;дверей
                li.desktop__item
                  a.link(href="#") Ремонт&nbsp;замков
                li.desktop__item
                  a.link(href="#") Замена&nbsp;замков
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;сейфов
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;автомобилей
                li.desktop__item
                  a.link(href="#") Ремонт&nbsp;дверей
            li.desktop__item
              a.link(href="#") Цены
            li.desktop__item
              a.link(href="#") Контакты
            li.desktop__item
              a.link(href="#") Вопросы&nbsp;и&nbsp;ответы
            li.desktop__item
              a.link(href="#") Отзывы
    <!-- End Menu -->
    main
      <!-- Banner -->
      .banner
        .container
          .banner__container
            .banner__head
              span.grey вскрытие замков
              span.green  скидка 40%
            ul.banner__services.services
              li.banner__service
                i.service-icon.icon-door             
                a.services__link(href="#") вскрытие&nbsp;замков
              
              li.banner__service
                i.service-icon.icon-car             
                a.services__link(href="#") вскрытие&nbsp;автомобилей
              
              li.banner__service
                i.service-icon.icon-padlock             
                a.services__link(href="#") замена&nbsp;замков
              
              li.banner__service
                i.service-icon.icon-safe             
                a.services__link(href="#") вскрытие&nbsp;сейфов
              
              li.banner__service
                i.service-icon.icon-wrench             
                a.services__link(href="#") ремонт&nbsp;замков
              
              li.banner__service
                i.service-icon.icon-wrench_door
                a.services__link(href="#") ремонт&nbsp;дверей
              
            
            .banner__form.form
              .form__head Заполните форму и вызовите мастера
              .form__main
                .form__input.form__input-phone              
                  input.input.input-phone(type="tel" pattern="\+495\d{7}" name="phone" placeholder="Ваш телефон")
                  i.input-icon.icon-phone                
                  button.send-phone вызвать срочно
      <!-- End Banner -->
      .text
        .container.text__container
          p.text__text
            |Если вы потеряли ключи, вы можете заменить замок, произвести ремонт дверь (квартиры, офисы, сейфы и т.д.). В большинстве своем работы не срочные, но требовательны к качеству выполнения, наличия у мастера при себе большого ассортимента замков и дверной фурнитуры, а так же <span class="green">высокого уровня</span> доверия к мастеру и в целом к организации.
      <!-- Prices -->
      .prices
        .container.prices__container
          .head
            span.grey Наши
            span.green  цены
          .sub-head Закажите услугу и получите скидку 40%
          .prices__wrap
            .price-block
              i.price-block__icon.icon-door
              .price-block__head Вскрытие
              .price-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              a.price-block__link.green(href="#") Узнать больше
          
            .price-block
              i.price-block__icon.icon-padlock
              .price-block__head Замена
              .price-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              a.price-block__link.green(href="#") Узнать больше
          
            .price-block
              i.price-block__icon.icon-wrench
              .price-block__head Ремонт
              .price-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              a.price-block__link.green(href="#") Узнать больше
      <!-- End Prices -->
      <!-- Discont -->
      .discont
        .container.discont__container
          .discont__form.form
            .form__head.green Закажите услугу со скидкой 40%
            .form__sub-head С нами надежно и выгодно
            .form__main
              .form__input.form__input-user
                input.input.input-user(type="text" name="user" placeholder="Ваше имя")
                i.input-icon.icon-user
              .form__input.form__input-phone  
                input.input.input-phone(type="tel" pattern="\+495\d{7}" name="phone" placeholder="Ваш телефон")
                i.input-icon.icon-phone                
                button.send-phone Вызвать мастера
              .form__check
                label.label-check
                  input.check(type="checkbox" name="agree" checked)
                  span.label-check__text Согласен на обработку персональных данных
      <!-- End Discont -->
      <!-- Video -->
      .video
        .container.video__container
          .head Видео
          .main
            .plyr__video-embed#player
              iframe(src="https://youtu.be/QpKZAFxZvVo" allowfullscreen allowtransparency allow="autoplay")
            <script>const player = new Plyr('#player');</script>
      <!-- End Video -->
      <!-- Locks -->
      .slider.locks
        .container.slider__container
          .head
            span.grey мы работаем
            span.green   с замками
          .slider__controls
            .arrow.left
            .arrow.right
          .slider__wrap
            .slide
              a.slide__link(href="#")
                img.slide__img(src="../dest/img/locks/lock_mottura.png")
                .slide__head Mottura
                .slide__text Время замены 20 минут
            
            .slide
              a.slide__link(href="#")
                img.slide__img(src="../dest/img/locks/lock_cisa.png")
                .slide__head Cisa
                .slide__text Время замены 20 минут

            .slide
              a.slide__link(href="#")
                img.slide__img(src="../dest/img/locks/lock_guardian.png")
                .slide__head Guardian
                .slide__text Время замены 20 минут
      <!-- End Locks -->
      <!-- Cars -->
      .slider.cars
        .container.slider__container
          .head
            span.grey мы работаем
            span.green   с автомобилями
          .slider__controls
            .arrow.left
            .arrow.right
          .slider__wrap
            .slide
              a.slide__link(href="#")
                img.slide__img(src="../dest/img/cars/car_hyundai.png")
                .slide__head Mottura
                .slide__text Время замены 20 минут
            
            .slide
              a.slide__link(href="#")
                img.slide__img(src="../dest/img/cars/car_bmw.png")
                .slide__head Cisa
                .slide__text Время замены 20 минут

            .slide
              a.slide__link(href="#")
                img.slide__img(src="../dest/img/cars/car_mercedes.png")
                .slide__head Guardian
                .slide__text Время замены 20 минут
      <!-- End Car -->
    <!-- Footer -->
    footer    
    <!-- End Footer -->