doctype html
html(lang="ru")
  include blocks/head.pug
  body
    <!-- Header -->
    header.header
      .container
        a.logo(href="/", title="Главная страница | Служба замков")
          img.logo__img(src="../dest/img/logo.png", alt="Главная страница | Служба замков", title="Главная страница | Служба замков")
          .logo__name Служба замков
        .info
          i.icon-marker
          span.info__region
            |Москва и Московская область
          i.icon-watch
          span.info__work-time
            |Круглосуточно
          a.info__phone.phone(href="tel:84958888888")
            i.icon-phone
            span.phone__code 8 495
            span.phone__number 888-88-88
    <!-- End Header -->
    <!-- Menu -->
    nav.nav
      .nav__mobile
      .nav__desktop
          ul.desktop__items
            li.desktop__item
              a.link(href="#") О&nbsp;нас
            li.desktop__item
              a.link(href="#") Наши&nbsp;услуги
              ul.desktop__items.desktop__item-parent
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;дверей
                li.desktop__item
                  a.link(href="#") Ремонт&nbsp;замков
                li.desktop__item
                  a.link(href="#") Замена&nbsp;замков
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;сейфов
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;автомобилей
                li.desktop__item
                  a.link(href="#") Ремонт&nbsp;дверей
            li.desktop__item
              a.link(href="#") Цены
            li.desktop__item
              a.link(href="#") Контакты
            li.desktop__item
              a.link(href="#") Вопросы&nbsp;и&nbsp;ответы
            li.desktop__item
              a.link(href="#") Отзывы
    <!-- End Menu -->
    <main>
      <!-- Banner -->
      <div class="banner">
        <div class="container">
          <div class="banner__container">
            <div class="banner__head">
              <span class="grey">вскрытие замков</span>
              <span class="green">скидка 40%</span>
            </div>
            <ul class="banner__services services">
              <li class="banner__service door">             
                <a href="#" class="services__link">вскрытие&nbsp;замков</a>
              </li>
              <li class="banner__service car">             
                <a href="#" class="services__link">вскрытие&nbsp;автомобилей</a>
              </li>
              <li class="banner__service padlock">             
                <a href="#" class="services__link">замена&nbsp;замков</a>
              </li>
              <li class="banner__service safe">             
                <a href="#" class="services__link">вскрытие&nbsp;сейфов</a>
              </li>
              <li class="banner__service spanner">             
                <a href="#" class="services__link">ремонт&nbsp;замков</a>
              </li>
              <li class="banner__service spanner-door">
                <a href="#" class="services__link">ремонт&nbsp;дверей</a>
              </li>
            </ul>
            <div class="banner__form form">
              <div class="form__head">Заполните форму и вызовите мастера</div>
              <div class="form__main">              
                <span class="logo-phone"></span>
                <input id="input-phone" class="input-phone" type="text" name="phone" placeholder="Ваш телефон">                
                <button class="send-phone">вызвать срочно</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Banner -->
      <div class="text">
        <div class="container text__container">
          <p class="text__text">
            |Если вы потеряли ключи, вы можете заменить замок, произвести ремонт дверь (квартиры, офисы, сейфы и т.д.). В большинствесвоем работы не срочные, но требовательны к качеству выполнения, наличия у мастера при себе большогоассортимента замков и дверной фурнитуры, а так же <span class="green">высокого уровня</span> доверия к мастеру и в целок корганизации.
          </p>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer></footer>    
    <!-- End Footer -->