doctype html
html(lang="ru")
  include blocks/head.pug
  body
    <!-- Header -->
    header.header
      .container
        a.logo(href="/", title="Главная страница | Служба замков")
          img.logo__img(src="../dest/img/logo.png", alt="Главная страница | Служба замков", title="Главная страница | Служба замков")
          .logo__name Служба замков
        .info
          i.icon-marker
          span.info__region
            |Москва и Московская область
          i.icon-watch
          span.info__work-time
            |Круглосуточно
          a.info__phone.phone(href="tel:84958888888")
            i.icon-phone
            span.phone__code 8 495
            span.phone__number 888-88-88
    <!-- End Header -->
    <!-- Menu -->
    nav.nav
      .nav__mobile
      .nav__desktop
          ul.desktop__items
            li.desktop__item
              a.link(href="#") О&nbsp;нас
            li.desktop__item
              a.link(href="#") Наши&nbsp;услуги
              ul.desktop__items.desktop__item-parent
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;дверей
                li.desktop__item
                  a.link(href="#") Ремонт&nbsp;замков
                li.desktop__item
                  a.link(href="#") Замена&nbsp;замков
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;сейфов
                li.desktop__item
                  a.link(href="#") Вскрытие&nbsp;автомобилей
                li.desktop__item
                  a.link(href="#") Ремонт&nbsp;дверей
            li.desktop__item
              a.link(href="#") Цены
            li.desktop__item
              a.link(href="#") Контакты
            li.desktop__item
              a.link(href="#") Вопросы&nbsp;и&nbsp;ответы
            li.desktop__item
              a.link(href="#") Отзывы
    <!-- End Menu -->
    main
      <!-- Banner -->
      .banner
        .container
          .banner__container
            .banner__head
              span.grey вскрытие замков
              span.green  скидка 40%
            ul.banner__services.services
              li.banner__service
                i.icon-door             
                a.services__link(href="#") вскрытие&nbsp;замков
              
              li.banner__service
                i.icon-car             
                a.services__link(href="#") вскрытие&nbsp;автомобилей
              
              li.banner__service
                i.icon-padlock             
                a.services__link(href="#") замена&nbsp;замков
              
              li.banner__service
                i.icon-safe             
                a.services__link(href="#") вскрытие&nbsp;сейфов
              
              li.banner__service
                i.icon-wrench             
                a.services__link(href="#") ремонт&nbsp;замков
              
              li.banner__service
                i.icon-wrench_door
                a.services__link(href="#") ремонт&nbsp;дверей
              
            
            .banner__form.form
              .form__head Заполните форму и вызовите мастера
              .form__main              
                input.input-phone(type="tel" pattern="\+495\d{7}" name="phone" placeholder="Ваш телефон")
                i.icon-phone                
                button.send-phone вызвать срочно
      <!-- End Banner -->
      .text
        .container.text__container
          p.text__text
            |Если вы потеряли ключи, вы можете заменить замок, произвести ремонт дверь (квартиры, офисы, сейфы и т.д.). В большинствесвоем работы не срочные, но требовательны к качеству выполнения, наличия у мастера при себе большогоассортимента замков и дверной фурнитуры, а так же <span class="green">высокого уровня</span> доверия к мастеру и в целок корганизации.
      <!-- Prices -->
      .prices
        .container.prices__container
          .head
            span.grey Наши
            span.green цены
          .sub-head Закажите услугу и получите скидку 40%
          .prices__wrap
            .price-block
              .price-block__icon.icon-door
              .price-block__head Вскрытие
              .price-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              .price-block__link Узнать больше
          
            .price-block
              .price-block__icon.icon-padlock
              .price-block__head Замена
              .price-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              .price-block__link Узнать больше
          
            .price-block
              .price-block__icon.icon-wrench
              .price-block__head Ремонт
              .price-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              .price-block__link Узнать больше
      <!-- End Prices -->
    <!-- Footer -->
    footer    
    <!-- End Footer -->